
JSP/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
JSP/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
JSP/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
JSP/.metadata/version.ini
